@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Yanone+Kaffeesatz:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');



:root{
    --font1: Verdana,Geneva,Tahoma,sans-serif;
    --font2: 'Yanone Kaffeesatz',sans-serif;
    --font3:'Poppins', sans-serif;

}


html,body{
background-color: #c4c1c1;
min-height: 100vh;

}
header{
    background-color: black;
    text-align: center;
}
header > img{
    padding-top: 10px;
}

header  > h1{
    color: white;
    font-variant: small-caps;
    padding: 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
   
}
header > p{
    color: white;
    padding-bottom: 50px;
    font-family: var(--font2);
    font-size: 3vw;
    font-weight: 200;
    text-shadow: 1px 1px 0px black;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-size: 2vh;
    font-family: var(--font2);
    

}

section.normal{
    background-color: white;
    color: black;
   
}
section.imagem{
    background-color: rgb(15, 15, 15);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgb(17, 16, 16);
    background-attachment: fixed;
}
section.imagem > p{
    background-color:rgba(0, 0, 0, 0.459);
    display: inline-block;
}
section#img01{
    background-image: url('../imagens/papel-parede\ 1.jpg');
    background-position: center center;
}
section#img02{
    background-image: url('../imagens/papel-parede\ 2.jpg');
    background-position: center center;
}

footer{
    background-color: black;
    color: white;
    font-variant: small-caps;
    padding: 30px 0px;
    text-align: center;
    font-size: 1.2em;
    font-family: var(--font2);
}